@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

/* --General-- */
:root {
  --main_font: 'Montserrat', Verdana, sans-serif;
  --main_background: rgb(20, 23, 28);
  --dark_shadow: rgb(43, 50, 61);
  --light_shadow: rgb(206,200,205);
  --main_font_color: rgb(255,255,255);
  --details: rgb(238,115,36);
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main_font);
  color: var(--main_font_color);
  min-height: 100vh;
  background-image: linear-gradient(90deg, var(--main_background), var(--light_shadow), var(--main_background));
  min-width: 350px;
}

h1 {
  text-align: center;
  margin: 2% 0;
  padding: 1% 0;
  border-top: 1px solid var(--details);
  border-bottom: 1px solid var(--details);
}

h2 {
  text-align: center;
  font-weight: 400;
  margin: 2% 0;
}

h3 {
  font-weight: 400;
}

.main_box {
  background-color: var(--dark_shadow);
  box-shadow: 0 0 15px var(--light_shadow);
  min-height: 90vh;
  max-width: 1600px;
  width: 90%;
  margin: 2% auto;
  padding: 2% 1%;
}

.container {
  width: 90%;
  min-height: 50vh;
  padding: 1%;
  margin: 0 auto;
}

a, button {
  text-transform: uppercase;
  color: var(--main_font_color);
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.main_button {
  padding: 10px 20px;
  margin: 1%;
  border-radius: 5px;
  background-color: var(--main_background);
  box-shadow: 0 0 5px var(--light_shadow);
  font-size: 14px;
  transition: all 0.4s ease-in-out;
}

.main_button:hover {
  background-color: var(--details);
  color: var(--dark_shadow);
  font-weight: 600;
}

.desc_container {
  width: 80%;
  padding: 4% 20%;
  margin: 4% auto;
  box-shadow: 0 0 10px var(--main_background);
  position: relative;
  color: var(--light_shadow);
}

.desc_container img {
  padding: 5px;
  height: auto;
  border: 1px solid var(--details);
  position: absolute;
}

.desc_container p {
  font-size: 14px;
  padding-bottom: 2%;
}

@media (max-width: 1000px) {
  .desc_container {
    padding: 4%;
  }
}

@media (max-width: 700px) {
  .desc_container {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .desc_container {
    width: 100%;
  }
}