div.cart {
  margin-top: 3%;
  margin-bottom: 2%;
  padding: 2%;
  box-shadow: inset 0 0 10px var(--details);
  display: flex;
  flex-direction: column;
  color: var(--light_shadow);
}

.cart_mainView {
  display: flex;
  justify-content: space-between;
}

.cart h3 {
  text-decoration: underline;
  text-decoration-color: var(--details);
  margin-bottom: 3%;
  font-weight: 600;
}

.user_data {
  text-align: center;
  width: 25%;
  border-right: 1px solid var(--details);
}

.user_data li {
  margin-bottom: 1%;
  padding: 1%;
}

.user_products {
  width: 70%;
}

.user_products ul {
  margin-bottom: 4%;
}

.user_products ul li {
  padding: 0.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--details);
}

.user_products ul li span:first-child {
  width: 40%;
}

.user_products ul li span:nth-child(2), .user_products ul li span:nth-child(3) {
  width: 15%;
}

.user_products button {
  background-color: inherit;
  border: none;
  outline: none;
}

.user_products input {
  background: inherit;
  padding: 2px;
  border: 1px solid var(--details);
  font-family: var(--main_font);
  color: var(--main_font_color);
}

.user_products input:focus {
  outline: none;
  box-shadow: 0 0 2px var(--light_shadow);
}

.user_products div {
  text-align: right;
}

/* Order */

.cart_order {
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  flex-direction: column;
  display: none;
  color: #fff;
}

.order_visible {
  display: flex;
}

/* Order address */

.order_address {
  margin-bottom: 40px;
}

.order_address h5 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.order_address > p {
  font-size: 14px;
  padding: 5px;
  text-align: center;
}

.order_address_details {
  display: flex;
  justify-content: center;
}

.order_address_details form {
  width: 90%;
}

.courier_container {
  width: 70%;
  display: flex;
}

.courier_container form {
  display: flex;
  flex-direction: column;
}

.inpost_container {
  display: none;
  width: 90%;
  align-self: center;
  margin: 10px;
  flex-direction: column;
}

.inpost_container h5 {
  margin-top: 10px;
}

.delivery_address {
  display: flex;
  flex-direction: column;
}

.delivery_radio {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

.delivery_radio label {
  display: flex;
  text-align: left;
  cursor: pointer;
}

.delivery_radio .input_field {
  width: 15%;
}

.deliveryDescription {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.deliveryDescription span.deliveryPrice {
  font-weight: 700;
  padding-left: 5px;
  padding-right: 2px;
}

/* PAYMENT */
.order_payment {
  padding: 20px 0px;
}

.account_number {
  margin: 10px 5px;
}


/* SUMMARY */

.order_summary {
  margin-top: 30px;
  padding-top: 10px;
  box-shadow: 0 -7px 7px -7px var(--details);
}

.summary_delivery table td {
  width: 200px;
  padding: 6px 5px;
}

@media (max-width: 1200px) {
  div.cart_mainView {
    display: block;
  }
  .user_data, .user_products {
    margin: 2% auto;
  }
  .user_data {
    width: 60%;
    padding: 3% 1%;
    box-shadow: 0 0 5px var(--main_background);
    border-right: none;
    margin-bottom: 4%;
  }
  .user_products{
    width: 95%;
  }

  .courier_container {
    width: 85%;
  }
}

@media (max-width: 900px) {
  .user_products ul li span:first-child {
    width: 100%;
  }
  .user_products ul li {
    flex-wrap: wrap;
  }
  .user_data {
    width: 90%;
  }

  .courier_container {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .container.cart {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .order_address h5 {
    font-size: 15px;
    font-weight: 400;
  }
  .courier_container .user_form {
    margin: 0;
    width: 100%;
  }

}

@media (max-width: 500px) {
  .delivery_radio .input_field {
    width: 7%;
  }

  .deliveryDescription {
    width: 93%;
  }
}



