.paintings .desc_container {
  padding: 4%;
}

.paintings .desc_container p {
  text-align: center;
}

.paintings h3 {
  width: 60%;
  margin: 3% auto;
  text-align: center;
  border-bottom: 1px solid var(--details);
}

.paintings table * {
  padding: 10px 0;
}

.paintings td:last-of-type {
  text-align: center;
  min-width: 100px;
}

/* Image swap */
.imgBox {
  text-align: center;
}

.imgSwapBox {
  --width: 425px;
  --height: 567px;

  position: relative;
  width: var(--width);
  height: var(--height);
  overflow: hidden;
  margin: 20px auto 0;
  outline: 2px solid var(--details);
  outline-offset: 5px;
}

.imgSwap {
  position: absolute;
  height: 100%;
  background-size: var(--width) var(--height);
  background: url('/img/services/color.jpg');
}

.basic {
  left: 0;
  background-position: center left;
  width: 100%;
}

.grey {
  background: url('/img/services/grey.jpg');
}

.sepia {
  background: url('/img/services/sepia.jpg');
  display: none;
}

.choosenImg {
  right: 0;
  width: calc(100% - var(--x, 50%));
  background-position: center right;
  box-shadow: inset 1px 0 0 var(--details), -1px 0 0 var(--details);
}