.home img:first-of-type {
  top: 3%;
  left: -10%;
  width: 40%;
}

.home img:nth-of-type(2) {
  top: 32%;
  right: -10%;
  width: 30%;
}

.home img:last-of-type {
  bottom: 2%;
  left: -10%;
  width: 30%;
}

.home h3 {
  margin: 2% 0;
  font-weight: 600;
  text-transform: uppercase;
}

.home p {
  margin-bottom: 3%;
  border-bottom: 1px solid var(--details);
}

.home div {
  padding-bottom: 5%;
  position: relative;
}

.home div:first-of-type {
  left: 20%;
}

.home div:nth-of-type(2) {
  text-align: right;
}