.home img:first-of-type {
  top: 3%;
  left: -10%;
  width: 40%;
  max-width: 370px;
}

.home img:nth-of-type(2) {
  top: 36%;
  right: -10%;
  width: 30%;
}

.home img:last-of-type {
  bottom: 2%;
  left: -10%;
  width: 30%;
  max-width: 280px;
}

.home h3 {
  margin: 2% 0;
  font-weight: 600;
  text-transform: uppercase;
}

.home p {
  margin-bottom: 3%;
  border-bottom: 1px solid var(--details);
}

.home div {
  padding-bottom: 5%;
  position: relative;
}

.home div:first-of-type {
  left: 20%;
}

.home div:nth-of-type(2) {
  text-align: right;
}

@media (max-width: 1000px) {
  .container .home img {
    position: static;
    width: 80%;
  }
  .home img:last-of-type {
    transform: rotate(270deg);
    max-width: 350px;
  }
  .home img:first-of-type {
    max-width: 420px;
  }
  .home div:first-of-type {
    left: 0;
  }
}

@media (max-width: 700px) {
  .home img:first-of-type {
    display: none;
  }
}