.product {
  display: grid;
  grid-template: auto / 2fr 3fr;
  grid-gap: 20px;
}

.description {
  padding: 1%;
}

.description p {
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 1%;
}

.description span {
  font-weight: 600;
}

.product .price {
  font-size: 24px;
  color: var(--details);
}

@media (max-width: 1000px) {
  .product, .product .product_img {
    display: block;
  }
  .product .description p:first-of-type {
    text-align: justify;
  }
  .product .product_img {
    margin: 3% auto;
    width: 90%;
  }
}

@media (max-width: 500px) {
  .product .product_img {
    width: 100%;
  }
}